<!DOCTYPE html>
<html>
  <head>
    <title>FlightManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <ul>
    <% if client_signed_in? %>
      <li>Hi, <%= current_client.email %></li>
      <li>Mes réservations</li>
      <li><%= link_to "Déconnexion", destroy_client_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Connexion", new_client_session_path %></li>
      <li><%= link_to "Inscription", new_client_registration_path %></li>
    <% end %>

  </ul>
    <%= yield %>
  </body>
</html>
